<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="eyetest-container text-center">
        <div class="score row">
          <div class="col-50">
            <div class="high-score-count ">0</div>
            <span>BEST</span>
          </div>
          <div class="col-50">
            <div class="score-count"><div>0</div></div>
            <span>NEW</span>
          </div>
            
        </div>

        <div class="eyetest-content">
        </div>
        <gameover></gameover>
        <div class="row text-center">
            <div class="timer col-50 padding">
                <span class="time-title">TIME</span>
                <div class="time-count text-center">15</div>
            </div>
            <div class="errors col-50 padding">
                <span class="error-title">ERRORS</span>
                <div class="error-count text-center">0</div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
